@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #4a5568;
  color: white;
  overflow-x: hidden;
}

::selection {
  background: white;
  color: #4a5568;
}

* {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;

  transition-duration: 300ms;
}
::-webkit-scrollbar {
  display: none;
}
